@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Nova+Flat&display=swap');
img{
    width: 150px;
    height: 150px;
}
body{
    background-color: lavender;
}
header, footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    max-width: 1080px;
    margin: auto;
}
#mainPic{
    height: 250px;
    width: 250px;
}
#title{
    font-family: 'Frijole', sans-serif;
    color: #4F5D2F;
    letter-spacing: .2em;
}
#heading, #social{
    align-content: center;
}
#logoLeft{
    justify-self: start;
    width: 150px;
    height: 150px;
}
#logoRight{
    justify-self: end;
    width: 150px;
    height: 150px;
}
#gallery{
    text-decoration: none;
    color: #4F5D2F;
}
#gallery:hover{
    text-decoration: none;
    color: #73E2A7;
}

#personal{
    display: flex;
    border-bottom: 7px solid black;
    padding-bottom: 1em;
    justify-content: center;
}
#jack{
    width: 300px;
    height: 300px;
    padding-right: 3em;
}
#showCase{
    padding-top: 3em;
    justify-items: center;
}
#imgdescription{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
}

footer{
    padding-top: 2%;
}

@media screen and (min-width: 800px) {
    .socialPic{
        height: 50px;
        width: 50px;        
    }
}