
  /* Dark Mode */
  body.dark {
    background-color: #333;
    color: #fff;
  }
  
  /* Light Mode */
  body.light {
    background-color: #fff;
    color: #000;
  }
  
  /* Custom Style */
  body.custom {
    background-color: #f0e68c;
    color: #2f4f4f;
    font-family: "Comic Sans MS", sans-serif;
  }